  <div class="controls row-fluid">
    <div class="span2">
      <p>Age</p>
    </div>
    <div class='span2'>
      <p><%= @account.age %></p>
    </div>
    <div class="span2">
      <p>Sex</p>
    </div>
    <div class='span2'>
      <p><%= @account.sex %></p>
    </div>
  </div>
